footer {
    background-color: black;
    // color: white;
}
.tp-footer-desc, ul li a, span, .tp-footer-contact-content a {
    color: #979ca1;
}

.tp-footer-widget-title{
    color: white;
}
div h4 a{
    color: white;
}