.custom-search-icon {
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 0px 5px 5px 0px;
  }
  .custom-header-styles {
    padding: 5px;
  }
  #subNavbar {
    font-weight: bold;
    text-transform: uppercase;
  }

.logo{
  width: 180px;
}
@media screen and (max-width: 991px) {
  .row .align-items-center {
    padding: 7px 0;
  }
}


  