.user-avatar {
    display: inline-block;
    border-radius: 50%; /* Makes the div circular */
    width: 60px;
    height: 60px;
    // background-color: #007bff; /* Your choice of background color */
    background-color: var(--tp-theme-primary);
    text-align: center;
    line-height: 50px; /* Aligns the text vertically */
    color: white;
    border: 2px solid white; /* Optional border */
    margin-right: 20px;
  }
  
  .user-initial {
    display: inline-block;
    font-size: 20px; /* Adjust as per your design */
    font-weight: bold;
  }
  