<h2 class="f-w-500 m-b-24" mat-dialog-title><strong>Changer Le Mot de Passe de L'Adhérent</strong></h2>
<mat-dialog-content>
    <form [formGroup]="userForm">
        <div >
            <mat-form-field appearance="outline" class="w-100">
                <input type="text" matInput required id="phone" name="phone" formControlName="phone"
                    placeholder="télé de L'Adhérent"/>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <input type="text" matInput required id="password" name="password" formControlName="password"
                    placeholder="Le Nouveau Mot de Passe" />
            </mat-form-field>
        </div>
        <button mat-flat-button (click)="doAction()" mat-flat-button color="primary" [disabled]="!userForm.valid">
            Modifier
        </button>
        <button mat-stroked-button color="warn" class="m-l-8" (click)="closeDialog()">
            Annuler
        </button>
    </form>
</mat-dialog-content>